In [1]:
!nvidia-smi

NVIDIA-SMI has failed because you are not:
	a) running as an administrator or
	b) there is not at least one TCC device in the system

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/sagnikghoshcr7/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
df.drop(["RowNumber", "CustomerId", "Surname"], axis=1, inplace=True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df["Geography"].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [7]:
df["Gender"].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

**WE CAN DO ONE-HOT ENCODING FOR THESE FEATURES**

In [8]:
df = pd.get_dummies(df, columns=["Geography", "Gender"], drop_first=True)
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,0,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,1,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,1,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,0,False,False,False

In [9]:
X = df.drop(["Exited"], axis=1)
y = df["Exited"]

In [10]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,False,False,True
9996,516,35,10,57369.61,1,1,1,101699.77,False,False,True
9997,709,36,7,0.00,1,0,1,42085.58,False,False,False
9998,772,42,3,75075.31,2,1,0,92888.52,True,False,True
9999,792,28,4,130142.79,1,1,0,38190.78,False,False,False

In [11]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [12]:
import tensorflow
from tensorflow import keras

In [13]:
from tensorflow.keras import Sequential   # sequential approach
from tensorflow.keras.layers import Dense   # to handle hidden layer

In [14]:
model = Sequential()

In [15]:
model.add(Dense(len(X.columns), activation="sigmoid", input_dim=len(X.columns)))  # input layer
model.add(Dense(17, activation="sigmoid"))  # hidden layer
model.add(Dense(1, activation="sigmoid"))  # output layer
model.build(input_shape=X.shape)

c:\Users\chinm\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

ValueError: Sequential model 'sequential' has already been configured to use input shape (None, 11). You cannot build it with input_shape (10000, 11)

In [31]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                132

 dense_1 (Dense)             (None, 17)                204

 dense_2 (Dense)             (None, 10000)             180000

 dense_3 (Dense)             (None, 11)                110011

 dense_4 (Dense)             (None, 17)                204

 dense_5 (Dense)             (None, 1)                 18

=================================================================
Total params: 290569 (1.11 MB)
Trainable params: 290569 (1.11 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

In [34]:
X_train.shape

(8000, 11)

In [35]:
X_test.shape

(2000, 11)

In [36]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scale = scaler.fit_transform(X_train)
X_test_scale = scaler.transform(X_test)

In [37]:
model.compile(optimizer="Adam", loss="binary_crossentropy", metrics=["accuracy"])

In [39]:
model.fit(X_train_scale,y_train,epochs=100,verbose=1)

Epoch 1/100
250/250 [==============================] - 2s 7ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 2/100
250/250 [==============================] - 2s 6ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 3/100
250/250 [==============================] - 2s 8ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 4/100
250/250 [==============================] - 2s 7ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 16/100
250/250 [==============================] - 2s 8ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 17/100
250/250 [==============================] - 2s 6ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5078 - accuracy: 0.7945
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5085 - accuracy: 0.7945
Epoch 21/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 22/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5085 - accuracy: 0.7945
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 24/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 27/100
250/250 [==============================] - 2s 7ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 28/100
250/250 [==============================] - 1s 6ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 33/100
250/250 [==============================] - 2s 6ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 34/100
250/250 [==============================] - 1s 6ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 35/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 37/100
250/250 [==============================] - 2s 8ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5080 - accuracy: 0.7945
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 48/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 49/100
250/250 [==============================] - 2s 6ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 50/100
250/250 [==============================] - 1s 6ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 58/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5086 - accuracy: 0.7945
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 61/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 62/100
250/250 [==============================] - 2s 6ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 66/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 70/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5079 - accuracy: 0.7945
Epoch 72/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 74/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 75/100
250/250 [==============================] - 2s 6ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 76/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 78/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 79/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5084 - accuracy: 0.7945
Epoch 80/100
250/250 [==============================] - 1s 6ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 81/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 82/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 83/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 84/100
250/250 [==============================] - 2s 7ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 85/100
250/250 [==============================] - 2s 9ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 86/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 87/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 88/100
250/250 [==============================] - 1s 6ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 89/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 91/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 95/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5083 - accuracy: 0.7945
Epoch 96/100
250/250 [==============================] - 1s 5ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 98/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5082 - accuracy: 0.7945
Epoch 99/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5081 - accuracy: 0.7945
Epoch 100/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5083 - accuracy: 0.7945

# **1 epoch = 1 Forward Propagation + 1 Backward Propagation**
Firstly, the forward propagation is carried out, then loss is calculated then the trainable parameters are being updated after a backward propagation.

In [40]:
y_pred = model.predict(X_test_scale)
y_pred

63/63 [==============================] - 1s 3ms/step

array([[0.2042892],
       [0.2042892],
       [0.2042892],
       ...,
       [0.2042892],
       [0.2042892],
       [0.2042892]], dtype=float32)

In [41]:
from sklearn.metrics import accuracy_score

print("Accuracy : ", accuracy_score(y_test, y_pred))

ValueError: Classification metrics can't handle a mix of binary and continuous targets

we are facing error because these are probability values and not the final values

In [43]:
y_pred = y_pred.argmax(axis = -1)

#### Now what is this argmax()? Try to figure out yourself

In [44]:
print("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.8035

### Low accuracy for a Deep Learning model