# **ARTIFICIAL NEURAL NETWORK USING KERAS AND TENSORFLOW**

In [1]:
import pandas as pd

df = pd.read_csv("back_customer_churn_dataset.csv")
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [2]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [3]:
df.drop(["CustomerId", "Surname", "RowNumber"], inplace=True, axis=1)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
df["Geography"].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [6]:
df["Gender"].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

#### Label Encoding using Pandas

In [7]:
df = pd.get_dummies(df, columns=["Geography", "Gender"], drop_first=True).astype(int)
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0,1,1,1,101348,1,0,0,0
1,608,41,1,83807,1,0,1,112542,0,0,1,0
2,502,42,8,159660,3,1,0,113931,1,0,0,0
3,699,39,1,0,2,0,0,93826,0,0,0,0
4,850,43,2,125510,1,1,1,79084,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0,2,1,0,96270,0,0,0,1
9996,516,35,10,57369,1,1,1,101699,0,0,0,1
9997,709,36,7,0,1,0,1,42085,1,0,0,0
9998,772,42,3,75075,2,1,0,92888,1,1,0,1
9999,792,28,4,130142,1,1,0,38190,0,0,0,0

In [8]:
X = df.drop(["Exited"], axis=1)
y = df["Exited"]

In [9]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0,1,1,1,101348,0,0,0
1,608,41,1,83807,1,0,1,112542,0,1,0
2,502,42,8,159660,3,1,0,113931,0,0,0
3,699,39,1,0,2,0,0,93826,0,0,0
4,850,43,2,125510,1,1,1,79084,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0,2,1,0,96270,0,0,1
9996,516,35,10,57369,1,1,1,101699,0,0,1
9997,709,36,7,0,1,0,1,42085,0,0,0
9998,772,42,3,75075,2,1,0,92888,1,0,1
9999,792,28,4,130142,1,1,0,38190,0,0,0

In [10]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int32

In [11]:
import tensorflow
from tensorflow import keras

In [12]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [13]:
model = Sequential()
model.add(Dense(len(X.columns), activation='sigmoid'))  # input layer
model.add(Dense(11, activation='sigmoid'))  # hidden layer
model.add(Dense(1, activation='sigmoid'))  # output layer

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
model.compile(optimizer="Adam", loss="binary_crossentropy", metrics=["accuracy"])

In [19]:
model.fit(X_train, y_train, epochs=80, verbose=1)

Epoch 1/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 736us/step - accuracy: 0.4669 - loss: 0.7185
Epoch 2/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 704us/step - accuracy: 0.7917 - loss: 0.5019
Epoch 3/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - accuracy: 0.8022 - loss: 0.4710
Epoch 4/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 699us/step - accuracy: 0.7931 - loss: 0.4708
Epoch 5/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 647us/step - accuracy: 0.7928 - loss: 0.4588
Epoch 6/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 760us/step - accuracy: 0.7906 - loss: 0.4527
Epoch 7/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 706us/step - accuracy: 0.7922 - loss: 0.4474
Epoch 8/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - accuracy: 0.8037 - loss: 0.4407
Epoch 9/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - accuracy: 0.8113 - loss: 0.4366
Epoch 10/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - accuracy: 0.8135 - loss: 0.4363
Epoch 11/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - accuracy: 0.8190 - loss: 0.4290
Epoch 12/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - accuracy: 0.8164 - loss: 0.4294
Epoch 13/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 759us/step - accuracy: 0.8340 - loss: 0.4122
Epoch 14/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 669us/step - accuracy: 0.8278 - loss: 0.4182
Epoch 15/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - accuracy: 0.8289 - loss: 0.4200
Epoch 16/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - accuracy: 0.8224 - loss: 0.4255
Epoch 17/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 753us/step - accuracy: 0.8348 - loss: 0.4092
Epoch 18/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 691us/step - accuracy: 0.8274 - loss: 0.4152
Epoch 19/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 657us/step - accuracy: 0.8401 - loss: 0.4028
Epoch 20/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 697us/step - accuracy: 0.8336 - loss: 0.4053
Epoch 21/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - accuracy: 0.8404 - loss: 0.4036
Epoch 22/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 794us/step - accuracy: 0.8366 - loss: 0.4043
Epoch 23/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 729us/step - accuracy: 0.8406 - loss: 0.3947
Epoch 24/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 660us/step - accuracy: 0.8359 - loss: 0.3963
Epoch 25/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 664us/step - accuracy: 0.8377 - loss: 0.4006
Epoch 26/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 665us/step - accuracy: 0.8477 - loss: 0.3858
Epoch 27/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step - accuracy: 0.8385 - loss: 0.3921
Epoch 28/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 690us/step - accuracy: 0.8378 - loss: 0.3916
Epoch 29/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 769us/step - accuracy: 0.8428 - loss: 0.3865
Epoch 30/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 790us/step - accuracy: 0.8427 - loss: 0.3836
Epoch 31/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 787us/step - accuracy: 0.8433 - loss: 0.3806
Epoch 32/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 836us/step - accuracy: 0.8442 - loss: 0.3809
Epoch 33/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 674us/step - accuracy: 0.8423 - loss: 0.3877
Epoch 34/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 750us/step - accuracy: 0.8497 - loss: 0.3711
Epoch 35/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 732us/step - accuracy: 0.8461 - loss: 0.3766
Epoch 36/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 734us/step - accuracy: 0.8421 - loss: 0.3811
Epoch 37/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 869us/step - accuracy: 0.8538 - loss: 0.3677
Epoch 38/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 777us/step - accuracy: 0.8475 - loss: 0.3761
Epoch 39/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 821us/step - accuracy: 0.8480 - loss: 0.3700
Epoch 40/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 797us/step - accuracy: 0.8489 - loss: 0.3663
Epoch 41/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 998us/step - accuracy: 0.8527 - loss: 0.3574
Epoch 42/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 835us/step - accuracy: 0.8519 - loss: 0.3645
Epoch 43/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 767us/step - accuracy: 0.8471 - loss: 0.3709
Epoch 44/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 832us/step - accuracy: 0.8522 - loss: 0.3643
Epoch 45/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8548 - loss: 0.3575
Epoch 46/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8565 - loss: 0.3544
Epoch 47/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 892us/step - accuracy: 0.8482 - loss: 0.3717
Epoch 48/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 762us/step - accuracy: 0.8548 - loss: 0.3507
Epoch 49/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 935us/step - accuracy: 0.8562 - loss: 0.3606
Epoch 50/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 755us/step - accuracy: 0.8548 - loss: 0.3572
Epoch 51/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 762us/step - accuracy: 0.8531 - loss: 0.3583
Epoch 52/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 773us/step - accuracy: 0.8566 - loss: 0.3554
Epoch 53/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8615 - loss: 0.3455
Epoch 54/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 978us/step - accuracy: 0.8534 - loss: 0.3585
Epoch 55/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 776us/step - accuracy: 0.8555 - loss: 0.3501
Epoch 56/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 719us/step - accuracy: 0.8623 - loss: 0.3454
Epoch 57/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 800us/step - accuracy: 0.8588 - loss: 0.3497
Epoch 58/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 765us/step - accuracy: 0.8588 - loss: 0.3534
Epoch 59/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 700us/step - accuracy: 0.8525 - loss: 0.3567
Epoch 60/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step - accuracy: 0.8611 - loss: 0.3481
Epoch 61/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 720us/step - accuracy: 0.8559 - loss: 0.3542
Epoch 62/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 735us/step - accuracy: 0.8633 - loss: 0.3438
Epoch 63/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - accuracy: 0.8586 - loss: 0.3454
Epoch 64/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - accuracy: 0.8558 - loss: 0.3493
Epoch 65/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 725us/step - accuracy: 0.8646 - loss: 0.3380
Epoch 66/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 750us/step - accuracy: 0.8583 - loss: 0.3444
Epoch 67/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 767us/step - accuracy: 0.8586 - loss: 0.3442
Epoch 68/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - accuracy: 0.8538 - loss: 0.3536
Epoch 69/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 721us/step - accuracy: 0.8570 - loss: 0.3483
Epoch 70/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 715us/step - accuracy: 0.8657 - loss: 0.3359
Epoch 71/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 749us/step - accuracy: 0.8626 - loss: 0.3401
Epoch 72/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 663us/step - accuracy: 0.8579 - loss: 0.3427
Epoch 73/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 714us/step - accuracy: 0.8532 - loss: 0.3496
Epoch 74/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 722us/step - accuracy: 0.8590 - loss: 0.3488
Epoch 75/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 694us/step - accuracy: 0.8588 - loss: 0.3433
Epoch 76/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 737us/step - accuracy: 0.8650 - loss: 0.3312
Epoch 77/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 723us/step - accuracy: 0.8607 - loss: 0.3363
Epoch 78/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 706us/step - accuracy: 0.8597 - loss: 0.3433
Epoch 79/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 710us/step - accuracy: 0.8625 - loss: 0.3429
Epoch 80/80
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 728us/step - accuracy: 0.8651 - loss: 0.3320

We aren't getting more than 86% accuracy

In [20]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (32, 11)               │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (32, 11)               │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (32, 1)                │            12 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 830 (3.25 KB)

 Trainable params: 276 (1.08 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 554 (2.17 KB)

In [21]:
y_pred = model.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [22]:
y_pred

array([[0.03141774],
       [0.04061583],
       [0.14088042],
       ...,
       [0.6319449 ],
       [0.11491268],
       [0.28015757]], dtype=float32)

These are probability values

In [23]:
y_pred = y_pred.argmax(axis=-1)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [24]:
from sklearn.metrics import accuracy_score

print(f"Accuracy : {accuracy_score(y_test, y_pred)*100} %")

Accuracy : 80.35 %